{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Academy</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"
</head>
<body>
    <h1> Dance Academy Students Record System</h1>
    <p>Welcome to our Dance Academy Student Record System.<br>This application helps manage student details like<br>Name, Dance Form, Batch and Phone Number.</p>
    <br>
    <br>
    <hr>
    <button >Add Student</button>
    <button>View Students</button>
    <footer>ZIUKE INFOTECH @2026</footer>
</body>
</html>